# Importing

In [1]:
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys
import requests
from bs4 import BeautifulSoup 
import re
import pandas as pd 
import os 
import time
import datetime
import csv
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from __future__ import division

# Reading the 3 workouts dfs to clean

In [2]:
apr14_workouts = pd.read_csv('workouts_csv')
apr7_workouts = pd.read_csv('workouts_csv_2')
apr6_workouts = pd.read_csv('workouts_csv_3')

In [3]:
allworkouts_uncleaned = pd.concat([apr14_workouts, apr7_workouts, apr6_workouts], axis=0)

In [4]:
allworkouts_uncleaned.to_csv('allworkouts_uncleaned')

allworkouts_uncleaned = pd.read_csv('allworkouts_uncleaned')

In [5]:
len(allworkouts_uncleaned)

2164

In [6]:
allworkouts_uncleaned.sample(10)

,Unnamed: 0,Course,Date,Distance,Horse Name,Note,Rank,Time_tenths_second,Track
67,67,Dirt,03/04/2018,4F,Sellwood,Handily,\n 22/34 \n ...,488,Santa Anita
689,689,Dirt training,12/28/2016,4F,Play Hard to Get,Handily,\n 5/6 \n ...,496,Santa Anita
497,497,Dirt,07/29/2016,5F,Lord Admiral,Handily,\n 2/5 \n ...,622,San Luis Rey Training Center
646,646,Dirt,08/28/2016,5F,River Echo,Breezing,\n 4/32 \n ...,606,Saratoga
23,23,Dirt,04/22/2017,3F,Blame the Rider,Handily,\n 4/21 \n ...,366,Santa Anita
14,14,Dirt,10/06/2017,6F,Blame the Rider,Handily,\n 6/19 \n ...,744,Santa Anita
13,13,Dirt,12/03/2017,6F,Accountability,Handily,\n 6/6 \n ...,752,Santa Anita
460,460,Dirt,07/13/2017,4F,Croissant,Handily,\n 5/17 \n ...,482,Los Alamitos Quarter Horse
594,594,Dirt training,07/17/2016,4F,Sassy Little Lila,Breezing,\n 45/90 \n ...,495,Belmont Park
217,217,Dirt,04/02/2018,5F,Papa Joe,Handily,\n 72/81 \n ...,632,Santa Anita

In [7]:
allworkouts_clean = allworkouts_uncleaned.drop('Unnamed: 0', axis=1).drop('Course', axis=1).drop('Note', axis=1 ).drop('Rank', axis=1).drop('Track',axis=1)

In [8]:
allworkouts_clean

           Date Distance       Horse Name  Time_tenths_second
0    04/07/2018       5F  Blame the Rider                 618
1    03/31/2018       5F  Blame the Rider                 616
2    03/24/2018       4F  Blame the Rider                 474
3    03/01/2018       4F  Blame the Rider                 490
4    02/23/2018       5F  Blame the Rider                 614
5    02/16/2018       4F  Blame the Rider                 512
6    01/14/2018       5F  Blame the Rider                 610
7    12/18/2017       6F  Blame the Rider                 752
8    12/11/2017       5F  Blame the Rider                 620
9    12/04/2017       6F  Blame the Rider                 730
10   11/27/2017       5F  Blame the Rider                 612
11   11/20/2017       5F  Blame the Rider                 622
12   11/13/2017       4F  Blame the Rider                 488
13   10/13/2017       5F  Blame the Rider                 610
14   10/06/2017       6F  Blame the Rider                 744
15   09/29/2017       5F  Blame the Rider                 616
16   09/22/2017       4F  Blame the Rider                 492
17   09/12/2017       5F  Blame the Rider                 608
18   09/02/2017       5F  Blame the Rider                 618
19   08/22/2017       4F  Blame the Rider                 476
20   08/12/2017       4F  Blame the Rider                 492
21   08/01/2017       3F  Blame the Rider                 362
22   05/09/2017       4F  Blame the Rider                 496
23   04/22/2017       3F  Blame the Rider                 366
24   04/14/2017       3F  Blame the Rider                 378
25   04/07/2017       3F  Blame the Rider                 360
26   03/31/2017       2F  Blame the Rider                 268
27   03/24/2017       1F  Blame the Rider                 126
28   04/08/2018       6F   Majestic Eagle                 750
29   04/02/2018       6F   Majestic Eagle                 754
..          ...      ...              ...                 ...
528  10/21/2017       4F      Pirate Flag                 476
529  10/14/2017       6F      Pirate Flag                 730
530  10/07/2017       5F      Pirate Flag                 634
531  09/30/2017       5F      Pirate Flag                 626
532  09/23/2017       5F      Pirate Flag                 606
533  09/16/2017       4F      Pirate Flag                 512
534  08/27/2017       3F      Pirate Flag                 360
535  08/20/2017       6F      Pirate Flag                 754
536  08/13/2017       5F      Pirate Flag                 618
537  08/06/2017       5F      Pirate Flag                 600
538  07/30/2017       4F      Pirate Flag                 482
539  07/23/2017       4F      Pirate Flag                 486
540  07/14/2017       3F      Pirate Flag                 384
541  07/08/2017       3F      Pirate Flag                 380
542  07/01/2017       3F      Pirate Flag                 388
543  03/01/2017       4F      Pirate Flag                 492
544  02/04/2017       4F      Pirate Flag                 512
545  01/28/2017       4F      Pirate Flag                 486
546  01/03/2017       5F      Pirate Flag                 624
547  12/27/2016       4F      Pirate Flag                 488
548  12/10/2016       4F      Pirate Flag                 500
549  12/03/2016       6F      Pirate Flag                 758
550  11/26/2016       6F      Pirate Flag                 756
551  11/19/2016       5F      Pirate Flag                 616
552  11/12/2016       4F      Pirate Flag                 496
553  11/05/2016       4F      Pirate Flag                 498
554  10/29/2016       4F      Pirate Flag                 508
555  10/22/2016       3F      Pirate Flag                 382
556  10/15/2016       3F      Pirate Flag                 388
557  10/08/2016       3F      Pirate Flag                 384

[2164 rows x 4 columns]

In [37]:
Practice_days = allworkouts_clean.groupby(['Horse Name']).Date.count().reset_index()
#Practice_days = allworkouts_clean.groupby((['Horse Name']).Date isin '\17')

#Practice_counts = allworkouts_clean.groupby(['Horse Name']).Distance.value_counts()
#allworkouts_clean3 = allworkouts_clean2[(allworkouts_clean2.Distance == "4F") | (allworkouts_clean2.Distance == "5F")

In [38]:
Practice_days.head(10) ###Combine into final data frame.

           Horse Name  Date
0      Accountability    59
1    Air Vice Marshal    38
2          Aquaphobia    47
3           Avalanche    52
4          Beach View    41
5         Beau Recall    46
6       Beauty Divine    27
7     Blame the Rider    28
8  Blossom Trail Miss    51
9         Cafe Flavor    33

In [11]:
#allworkouts_clean = allworkouts_clean.filter['5F','4F']

#allworkouts_clean = (allworkouts_clean['Distance'] == '5F') or (allworkouts_clean['Distance'] == '4F')

#FiveF = allworkouts_clean['Distance'] != "2F","3F","6F"
#FourF = allworkouts_clean['Distance'] == "4F"
#allworkouts_clean = allworkouts_clean[FiveF]

### Creating df from workouts df of number of practice days

In [12]:
allworkouts_clean2 = allworkouts_clean.groupby(['Horse Name', "Distance"]).Time_tenths_second.agg([np.mean]).reset_index()
allworkouts_clean3 = allworkouts_clean2[(allworkouts_clean2.Distance == "4F") | (allworkouts_clean2.Distance == "5F") | (allworkouts_clean2.Distance == "3F")]
allworkouts_clean3.head(10)

          Horse Name Distance        mean
0     Accountability       3F  366.800000
1     Accountability       4F  491.052632
2     Accountability       5F  613.363636
5   Air Vice Marshal       3F  369.400000
6   Air Vice Marshal       4F  488.538462
7   Air Vice Marshal       5F  616.066667
10        Aquaphobia       3F  385.000000
11        Aquaphobia       4F  496.652174
12        Aquaphobia       5F  618.421053
14         Avalanche       3F  368.400000

In [13]:
allworkouts_clean4 = allworkouts_clean3.pivot(index='Horse Name', columns='Distance', values='mean').reset_index()


#allworkouts_clean4 = allworkouts_clean3.unstack(level=-1)

In [14]:
allworkouts_clean4.head(10)

Distance          Horse Name          3F          4F          5F
0             Accountability  366.800000  491.052632  613.363636
1           Air Vice Marshal  369.400000  488.538462  616.066667
2                 Aquaphobia  385.000000  496.652174  618.421053
3                  Avalanche  368.400000  491.000000  615.181818
4                 Beach View  372.200000  499.384615  617.411765
5                Beau Recall  373.000000  494.588235  619.920000
6              Beauty Divine  389.333333  515.333333  624.000000
7            Blame the Rider  366.500000  490.000000  614.909091
8         Blossom Trail Miss  378.666667  500.923077  630.500000
9                Cafe Flavor  374.000000  500.307692  616.428571

In [15]:
allworkouts_clean4.to_csv('workout_means')

# Combining final DF

In [16]:
#Merging all the workout dataframes
apr14_final = pd.read_csv('final_merged')
apr7_final = pd.read_csv('final_merged2')
apr6_final = pd.read_csv('final_merged3')

In [17]:
finalmerged_uncleaned = pd.concat([apr14_final, apr7_final, apr6_final], axis=0)

In [18]:
finalmerged_uncleaned.to_csv('final_Times.csv')

In [19]:
finalmerged_uncleaned = pd.read_csv('final_Times.csv').drop('Unnamed: 0', axis=1)

In [20]:
#Adding the percentage of the time the horse places in a race. 
finalmerged_uncleaned["PercentWin"] = (finalmerged_uncleaned["Firsts"] + finalmerged_uncleaned["Seconds"]+ finalmerged_uncleaned["Thirds"])/ (finalmerged_uncleaned["Starts"])
finalmerged_uncleaned.head(2)

,Horse Name,Final_Time,Final_Time_Hund,Gender,Firsts,Seconds,Starts,Thirds,PercentWin
0,Blame the Rider,1:35.11,9511,0,0,0,5,1,0.2
1,Majestic Eagle,1:35.25,9525,0,0,2,4,0,0.5

In [21]:
#Merging the final times df with the #of practice days df
finalmerged_clean = pd.merge(finalmerged_uncleaned,Practice_days,on='Horse Name', how = 'left')
finalmerged_clean.head(2)

,Horse Name,Final_Time,Final_Time_Hund,Gender,Firsts,Seconds,Starts,Thirds,PercentWin,Date
0,Blame the Rider,1:35.11,9511,0,0,0,5,1,0.2,28
1,Majestic Eagle,1:35.25,9525,0,0,2,4,0,0.5,35

In [22]:
#Merging the merged data frame, with the workouts df
finalmerged_clean = pd.merge(finalmerged_clean,allworkouts_clean4,on='Horse Name', how = 'left')
finalmerged_clean.head(2)

,Horse Name,Final_Time,Final_Time_Hund,Gender,Firsts,Seconds,Starts,Thirds,PercentWin,Date,3F,4F,5F
0,Blame the Rider,1:35.11,9511,0,0,0,5,1,0.2,28,366.500000,490.000000,614.909091
1,Majestic Eagle,1:35.25,9525,0,0,2,4,0,0.5,35,386.666667,506.714286,622.666667

In [23]:
#Renaming the columns so they don't confuse the model later.
finalmerged_clean = finalmerged_clean.rename(columns={'3F':'ThreeF'}).rename(columns={'4F':'FourF'}).rename(columns={'5F':'FiveF'}).fillna(0)

In [24]:
finalmerged_clean

,Horse Name,Final_Time,Final_Time_Hund,Gender,Firsts,Seconds,Starts,Thirds,PercentWin,Date,ThreeF,FourF,FiveF
0,Blame the Rider,1:35.11,9511,0,0,0,5,1,0.200000,28,366.500000,490.000000,614.909091
1,Majestic Eagle,1:35.25,9525,0,0,2,4,0,0.500000,35,386.666667,506.714286,622.666667
2,Sellwood,1:35.39,9539,0,0,1,2,1,1.000000,28,365.333333,488.666667,619.333333
3,Cajun Treasure,1:35.39,9539,0,0,0,0,0,0.000000,18,366.500000,496.571429,618.000000
4,Friendly Outthedor,1:35.69,9569,0,0,1,4,0,0.250000,46,373.142857,493.666667,611.500000
5,Pointed,1:35.79,9579,0,0,0,5,0,0.000000,29,367.500000,490.750000,612.769231
6,Dignitaire,1:36.25,9625,0,0,0,3,1,0.333333,32,376.400000,498.571429,623.333333
7,Papa Joe,1:36.71,9671,0,0,0,1,0,0.000000,15,382.666667,503.111111,634.000000
8,Tule Fog,1:34.19,9419,0,1,1,6,1,0.500000,34,381.750000,492.333333,614.727273
9,Lymebyrd,1:34.83,9483,0,2,3,15,1,0.400000,44,369.000000,491.176471,608.421053
10,Kings River King,1:35.46,9546,0,1,0,6,2,0.500000,29,373.500000,495.777778,626.000000
11,California Journey,1:35.46,9546,0,1,0,2,0,0.500000,47,373.500000,495.250000,617.285714
12,Raven Creek,1:35.54,9554,0,1,4,8,2,0.875000,34,369.000000,488.833333,609.222222
13,Fast as Cass,1:36.17,9617,0,1,1,4,0,0.500000,19,378.666667,498.571429,621.111111
14,Croissant,1:36.50,9650,0,1,0,6,0,0.166667,31,368.000000,487.000000,616.142857
15,Lord Admiral,1:39.73,9973,0,1,1,8,0,0.250000,35,378.500000,493.176471,626.400000
16,Aquaphobia,1:33.86,9386,0,5,3,15,2,0.666667,47,385.000000,496.652174,618.421053
17,Well Developed,1:34.10,9410,0,3,1,4,0,1.000000,22,377.600000,490.666667,617.333333
18,Air Vice Marshal,1:34.12,9412,0,2,5,14,2,0.642857,38,369.400000,488.538462,616.066667
19,Beach View,1:34.56,9456,0,2,1,6,1,0.666667,41,372.200000,499.384615,617.411765
20,River Echo,1:34.71,9471,0,3,4,16,1,0.500000,54,378.200000,493.866667,609.214286
21,Play Hard to Get,1:34.75,9475,0,4,3,28,0,0.250000,55,379.333333,502.971429,623.142857
22,Cafe Flavor,1:35.06,9506,0,2,0,10,4,0.600000,33,374.000000,500.307692,616.428571
23,Unapologetic,1:35.30,9530,0,3,4,20,2,0.450000,68,372.000000,493.548387,615.724138
24,Touched by Autism,1:35.48,9548,0,4,3,20,3,0.500000,38,376.000000,488.666667,611.600000
25,Accountability,1:34.39,9439,0,2,0,13,3,0.384615,59,366.800000,491.052632,613.363636
26,Avalanche,1:34.47,9447,0,1,1,7,1,0.428571,52,368.400000,491.000000,615.181818
27,Fortune of War,1:34.54,9454,0,1,3,15,3,0.466667,35,366.666667,489.285714,608.500000
28,Mesut,1:34.77,9477,0,1,3,6,0,0.666667,30,371.333333,489.500000,612.000000
29,Elwood J,1:34.91,9491,0,2,1,15,5,0.533333,69,372.500000,488.200000,610.971429
30,Tartini,1:35.06,9506,0,1,1,8,1,0.375000,10,362.000000,490.400000,623.500000
31,Dreams of Valor,1:35.16,9516,0,1,0,9,0,0.111111,39,373.428571,490.000000,610.800000
32,Cascade Rock,1:35.45,9545,0,1,3,9,1,0.555556,58,377.090909,498.250000,629.555556
33,Malibu Music,1:36.85,9685,0,1,2,12,1,0.333333,42,384.666667,496.000000,620.344828
34,Beau Recall,1:34.52,9452,1,2,4,11,0,0.545455,46,373.000000,494.588235,619.920000
35,Thundering Sky,1:34.64,9464,1,3,5,19,4,0.631579,35,381.500000,497.840000,617.500000
36,Madame Stripes,1:34.68,9468,1,4,7,18,2,0.722222,66,371.142857,493.473684,624.666667
37,Sassy Little Lila,1:34.99,9499,1,3,5,13,1,0.692308,61,383.142857,495.630435,619.200000
38,Sophie P,1:35.03,9503,1,4,5,19,1,0.526316,11,375.333333,488.000000,613.600000
39,Instant Reflex,1:35.16,9516,1,2,0,7,1,0.428571,32,368.333333,481.142857,614.631579
40,Midnight Crossing,1:35.17,9517,1,3,3,20,1,0.350000,41,374.000000,492.545455,606.137931
41,Mongolian Shopper,1:36.33,9633,1,7,3,25,1,0.440000,20,374.600000,505.125000,608.500000
42,Dhafeera,1:40.25,10025,1,0,2,5,0,0.400000,10,374.000000,494.000000,616.800000
43,Jazaalah,1:40.46,10046,1,0,0,4,2,0.500000,10,385.000000,481.000000,620.333333
44,Meal Ticket,1:40.58,10058,1,0,2,6,0,0.333333,37,370.000000,499.571429,620.166667
45,You Missed It,1:40.84,10084,1,0,5,7,1,0.857143,41,366.333333,492.363636,614.545455
46,Blossom Trail Miss,1:40.89,10089,1,0,0,3,1,0.333333,51,378.666667,500.923077,630.500000
47,Chalky,1:40.99,10099,1,0,2,5,1,0.600000,20,376.000000,504.500000,626.571429
48,Beauty Divine,1:41.75,10175,1,0,0,3,0,0.000000,27,389.333333,515.333333,624.000000
49,Subic Bay,1:35.18,9518,1,1,3,9,1,0.555556,37,374.500000,501.818182,615.285714
50,Oh Scatty Oh,1:35.59,9559,1,1,3,14,1,0.357143,45,379.333333,496.125000,620.833333
51,Road Test,1:36.12,9612,1,1,5,15,3,0.600000,52,367.333333,492.148148,614.705882
52,Hotsy Dotsy,1:36.22,9622,1,1,3,18,2,0.333333,39,366.400000,486.952381,613.230769
53,Paddy Jean,1:36.24,9624,1,1,3,13,4,0.615385,33,365.333333,493.875000,621.285714
54,Khaleesi,1:36.35,9635,1,1,3,15,1,0.333333,31,381.333333,486.333333,620.181818
55,Twirling Apples,1:36.67,9667,1,1,0,6,0,0.166667,44,368.857143,490.125000,612.777778
56,Lil Bit Dangerous,1:36.74,9674,1,1,0,2,0,0.500000,39,372.600000,495.000000,615.833333
57,Pirate Flag,1:37.27,9727,1,1,1,13,1,0.230769,42,381.750000,497.578947,619.272727

In [25]:
finalmerged_clean.shape

(58, 13)

In [26]:
finalmerged_clean.to_csv('finalmerged_clean')