In [5]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
df = pd.read_csv('Turnstile_Usage_Data__2018.csv')

In [10]:
df.head(5)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/23/2017,03:00:00,REGULAR,6455840,2184987
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/23/2017,07:00:00,REGULAR,6455856,2184995
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/23/2017,11:00:00,REGULAR,6455899,2185082
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/23/2017,15:00:00,REGULAR,6456038,2185156
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/23/2017,19:00:00,REGULAR,6456327,2185197

In [41]:
df_grouped_station = df.groupby(['Station']).mean().sort_values('Entries', ascending = False)
print(df_grouped_station.head(20))

                      Entries  \
Station
104 ST           5.387320e+08
HIGH ST          4.603918e+08
183 ST           4.488149e+08
EASTCHSTER/DYRE  4.219337e+08
138/GRAND CONC   3.327810e+08
163 ST-AMSTERDM  3.288125e+08
1 AV             3.050309e+08
57 ST-7 AV       2.994426e+08
18 AV            2.608624e+08
6 AV             2.451182e+08
116 ST-COLUMBIA  2.032489e+08
PROSPECT PARK    2.002446e+08
57 ST            1.757314e+08
DEKALB AV        1.701156e+08
5 AVE            1.608934e+08
167 ST           1.510165e+08
42 ST-PORT AUTH  1.504154e+08
FLATBUSH AV-B.C  1.466638e+08
72 ST            1.439107e+08
170 ST           1.430281e+08

                 Exits
Station
104 ST                                                3.917052e+08
HIGH ST                                               6.194909e+08
183 ST                                                4.676614e+08
EASTCHSTER/DYRE                                       4.559601e+08
138/GRAND CONC                                        3.213078e+08
163 ST-AMSTERDM                                       1.127686e+08
1 AV                                                  1.632403e+08
57 ST-7 AV                                            2.194483e+08
18 AV                                                 1.496939e+08
6 AV                                                  2.424370e+08
116 ST-COLUMBIA                                       4.346851e+07
PROSPECT PARK                                         1.026590e+08
57 ST                                                 1.324694e+08
DEKALB AV                                             1.017567e+08
5 AVE                                                 8.332713e+07
167 ST                                                7.358959e+07
42 ST-PORT AUTH                                       1.228859e+08
FLATBUSH AV-B.C                                       1.073121e+08
72 ST                                                 1.884690e+08
170 ST                                                1.413069e+08

In [43]:
df_grouped_time = df.groupby(['Station','Time']).mean().sort_values('Entries', ascending = False)
print(df_grouped_time.head(20))

                              Entries  \
Station        Time
HIGH ST        08:35:31  9.162898e+08
               08:17:34  9.162792e+08
104 ST         10:16:52  7.893430e+08
               08:17:41  7.893383e+08
               09:07:34  7.893323e+08
34 ST-PENN STA 04:36:22  7.850949e+08
CANAL ST       07:17:46  6.904178e+08
               08:51:18  6.903320e+08
57 ST-7 AV     08:17:56  6.880860e+08
               10:30:39  6.880846e+08
               08:35:52  6.880845e+08
               09:03:36  6.880696e+08
               11:04:40  6.880682e+08
               07:54:41  6.880681e+08
18 AV          14:22:37  6.536281e+08
               11:15:19  6.536279e+08
               06:32:13  6.536260e+08
               08:16:48  6.536211e+08
23 ST          08:04:36  6.169763e+08
86 ST          10:16:39  5.472924e+08

                         Exits
Station        Time
HIGH ST        08:35:31                                       1.232394e+09
               08:17:34                                       1.232390e+09
104 ST         10:16:52                                       6.347844e+08
               08:17:41                                       6.347839e+08
               09:07:34                                       6.347834e+08
34 ST-PENN STA 04:36:22                                       5.649085e+08
CANAL ST       07:17:46                                       1.265283e+09
               08:51:18                                       1.265226e+09
57 ST-7 AV     08:17:56                                       5.101043e+08
               10:30:39                                       5.101040e+08
               08:35:52                                       5.101038e+08
               09:03:36                                       5.100985e+08
               11:04:40                                       5.100980e+08
               07:54:41                                       5.100978e+08
18 AV          14:22:37                                       4.567699e+08
               11:15:19                                       4.567699e+08
               06:32:13                                       4.567698e+08
               08:16:48                                       4.567697e+08
23 ST          08:04:36                                       6.490217e+08
86 ST          10:16:39                                       2.371199e+08

In [ ]:
#Figure out how to sort by station, and find the mean number of entries

In [ ]:
#Find the mean number of exits

In [ ]:
#Figure out how to find the highest time of day for those stations

In [ ]:
#Don't forget women who code! Look up stations by those exit points.

In [ ]:
#What about students in technical hs? School time TOD?